<%- include('partials/header.ejs'); %> <h1>node5 Hello page1.html Page</h1> ユーザメンテナンス(非同期通信) <br> id<input id="id"
  type="text" id="id" value="001"><br> email<input id="email" type="text" id="email" value="huru@hal.ac.jp"><br>
username<input id="username" type="text" id="username" value="春太郎"><br> password<input id="password" type="text"
  id="password" value="12345"><br>
<input id="getbutton" type="submit" value="取得 (GET) ">
<input id="postbutton" type="submit" value="送信 (POST) ">
<input id="putbutton" type="submit" value="変更(PUT) ">
<input id="deletebutton" type="submit" value="削除 (DELETE) ">
<hr>
<div id="output"></div>
<hr>
<img src="/img/image1.jpg" height="10%"><br />
<img src="/img/image2.png" height="10%"> <%- include('partials/footer5-2.ejs'); %>
