<%- include('partials/header.ejs'); %> <h1>WebSocket auction<%= ejsRender.params.auctionId %> (Room)</h1>
<form id="auctionForm">
  <input id="auction-input1" type="text" value="" />
  <input id="auction-input2" type="text" value="" />
  <input type="submit" class="button" value="Send" />
</form>
<ul id="output"></ul>
<script>
  const info = "<%= ejsRender %>";
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/auction.js"></script> <%- include('partials/footer.ejs'); %>
