<%- include('partials/header.ejs'); %> <h1>WebSocket auctionList</h1>
<a href="/auction/001">F W L -4 1</a><br>
<a href="/auction/002">FP w L-42</a><br>
<a href="/auction/003">F PWL -43</a><br>
<ul id="output"></ul> <%- include('partials/footer.ejs'); %>
