<%- include('partials/header.ejs'); %>
<main>
  <link rel="stylesheet" href="/css/top.css">
  <h1></h1>
  <p>オークション会場から仕入れた車両をらくらく検索</p>
  <p>お問い合わせはこちら TEL ???????</p>
  <button>車両を検索する</button>
</main>
<%- include('partials/footer.ejs'); %>
