<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>index page node3-X </title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/javascript.js"></script>
  </head>
  <body>
    <h1>node3-X Hello index.html Page</h1>
    <input type="button" onclick="test_js()" value="JSを実行">
    <p>GET転送</p>
    <form id="form_get" action="/" method="GET">
      <input type="text" name="text_get">
      <input type="submit" value="GET送信">
    </form><br>
    <ul id="output_get"></ul>
    <p>POST転送</p>
    <form id="form_post" action="/" method="POST">
      <input type="text" name="text_post">
      <input type="submit" value="POST送信">
    </form><br>
    <ul id="output_post"></ul>
    <hr>
    <img src="img/image1.jpg"><br />
    <img src="img/image2.png">
  </body>
</html>
